{% extends 'base.html' %}

{% block title %}Spotify Top 5 - Home{% endblock %}

{% block content %}
<section class="max-w-lg mx-auto text-center">
  <p class="text-lg mb-8">
    {% if not logged_in %}
    Accedi con Spotify per scoprire i tuoi artisti e le tue canzoni piu' ascoltate di sempre.
    {% else %}
    Scopri i tuoi artisti e le canzoni piu' ascoltate di sempre
    {% endif %}
  </p>
  {% if not logged_in %}
  <a href="{{ url_for('login') }}" class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Accedi</a>
  {% endif %}
</section>
{% endblock %}